<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>LISTA DE CURSOS</h1>
    <h2>BIENVENIDO <span th:text="${studentId}"></span> !</h2>
    <table>
        <tr>
            <th>NOMBRE DEL CURSO</th><th>DESCRIPCIÓN</th><th>ACCIONES</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}">Nombre del Curso</td>
            <td th:text="${course.description}">Descripción del Curso</td>
            <td>
                <form th:action="@{/courses/enroll}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.courseId}" />
                    <input type="hidden" name="studentId" th:value="${studentId}" /> 
                    <button type="submit" class="matricular">Matricular</button>
                </form>
            </td>
        </tr>

        <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}">Nombre del Curso</td>
            <td th:text="${course.description}">Descripción del Curso</td>
            <td>
                <form th:action="@{/courses/enroll}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.courseId}" />
                    <input type="hidden" name="studentId" th:value="${studentId}" /> 
                    <button type="submit" class="matricular">Matricular</button>
                </form>
            </td>
        </tr>

        <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}">Nombre del Curso</td>
            <td th:text="${course.description}">Descripción del Curso</td>
            <td>
                <form th:action="@{/courses/enroll}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.courseId}" />
                    <input type="hidden" name="studentId" th:value="${studentId}" /> 
                    <button type="submit" class="matricular">Matricular</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
