<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <h1>Lista de Cursos</h1>
    <p th:text="${studentId}"></p>
    <table>
        <tr>
            <th>Nombre del Curso</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}">Nombre del Curso</td>
            <td th:text="${course.description}">Descripción del Curso</td>
            <td>
                <form th:action="@{/courses/enroll}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.courseId}" />
                    <input type="hidden" name="studentId" th:value="${studentId}" /> 
                    <button type="submit">Matricular</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
