<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMACIÓN</title>
    <link rel="stylesheet" href="/css/informacion.css">
</head>
<body>
    <div class="contenedor">
        <div class="contenedorLista">
            <ol style="list-style: none; padding: 0; text-align: center;">
                <label class="negarSeleccion">INTEGRANTES:</label>
                <div class="division"></div>
                <li th:each="integrante : ${integrantesGrupo2}" th:text="${integrante}" class="negarSeleccion"></li>
                <div class="division"></div>
                <table class="negarSeleccion">
                    <tr>
                        <th>LENGUAJE</th>
                        <th>DBMS</th>
                        <th>DB USER</th>
                        <th>DB PASS</th>
                        <th>DB NAME</th>
                    </tr>
                    <tr>
                        <td>JAVA</td>
                        <td>MYSQL</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </ol>
        </div>
        <div class="division"></div>
        <a href="/login" class="negarSeleccion customButton"> VOLVER</a>
    </div> 
</body>
</html>
