<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Cursos</title>
    <link rel="stylesheet" href="myCourses.css">
</head>
<body>
    <div id="navbar"></div>     <!-- Menu Navbar -->
    <h1>MIS CURSOS</h1>
    <div id="main-container">
        <!-- Mensaje si no hay cursos -->
        <div th:if="${#lists.isEmpty(courses)}">
            <p>No tienes cursos aún.</p>
        </div>
        <!-- Tabla de cursos si hay cursos -->
        <div th:unless="${#lists.isEmpty(courses)}">
            <table>
                <thead>
                    <tr>
                        <th>NOMBRE DEL CURSO</th>
                        <th>DESCRIPCIÓN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.courseName}">Nombre del Curso</td>
                        <td th:text="${course.description}">Descripción del Curso</td>
                        <td>
                            <form th:action="@{/courses/unenroll}" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <input type="hidden" name="courseId" th:value="${course.courseId}" />
                                <input type="hidden" name="studentId" th:value="${student.studentId}" />
                                <button type="submit" class="baja">Dar de Baja</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Menu Navbar -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('navbar.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar').innerHTML = data;
                });
        });
    </script>
</body>
</html>

